{% extends 'common/base.html' %}
{% load static %}

{% block main_content %}
    <div class="car-detail">
        <h1>{{ car }}</h1>
        <div class="car-detail-info">
            <h2>Car facts</h2>
            <p><strong>Location:</strong> {{ car.location }}</p>
            <p><strong>Trim:</strong> {% if car.trim_level != "unknown" %}{{ car.trim_level }}{% else %}No data{% endif %}</p>
            <p><strong>Mileage:</strong> {% if car.mileage %}{{ car.mileage }} km{% else %}No data{% endif %}</p>
            <p><strong>Drivetrain:</strong> {% if car.drivetrain != "unknown" %}{{ car.drivetrain }}{% else %}No data{% endif %}</p>
            <p><strong>Body Type:</strong> {% if car.body_type != "unknown" %}{{ car.body_type }}{% else %}No data{% endif %}</p>
            <p><strong>Number of Doors:</strong> {% if car.doors %}{{ car.doors }}{% else %}No data{% endif %}</p>
            <p><strong>Price:</strong> {% if car.asking_price %}{{ car.asking_price }} EUR{% else %}No data{% endif %}</p>
            <p><strong>Color:</strong> {% if car.color %}{{ car.color }}{% else %}No data{% endif %}</p>
            <p><strong>Battery:</strong> {% if car.battery_capacity %}{{ car.battery_capacity }} kWh{% else %}No data{% endif %}</p>
            <p><strong>Horsepower:</strong> {% if car.horsepower %}{{ car.horsepower }}{% else %}0{% endif %}</p>
            <p><strong>Range:</strong> {% if car.range %}{{ car.range }} km{% else %}No data{% endif %}</p>
            <p><strong>Year:</strong> {% if car.year %}{{ car.year }}{% else %}No data{% endif %}</p>
            <p><strong>VIN:</strong> {% if car.vin %}{{ car.vin }}{% else %}No data{% endif %}</p>
            <p><strong>Description:</strong> {% if car.description %}{{ car.description }}{% else %}No data{% endif %}</p>
        </div>
        <div class="car-detail-owner-info">
            <h2>Owner information</h2>
            <div class="owner-info-content">
                {% if car.owner.profile.profile_picture %}
                    <img src="{{ car.owner.profile.profile_picture }}" alt="{% static 'images/stock_user.png' %}" />
                {% else %}
                    <img src="{% static 'images/stock_user.png' %}" alt="profile icon" />
                {% endif %}
                <div class="owner-details">
                    <p><strong>Username:</strong> {% if car.owner.profile.nickname %}{{ car.owner.profile.nickname }}{% else %}{{ car.owner.username }}{% endif %}</p>
                    <p><strong>Email:</strong> {{ car.owner.email }}</p>
                    <p><strong>Phone:</strong> {% if car.owner.profile.phone_number %}{{ car.owner.profile.phone_number }}{% else %}No data{% endif %}</p>
                </div>
            </div>

            {% if car.owner == user %}
                <div class="owner-actions">
                    <a href="{% url 'car-edit' car.pk %}" class="btn btn-edit">
                        <i class="fas fa-edit"></i> Edit Car
                    </a>
                    <a href="{% url 'car-delete' car.pk %}" class="btn btn-delete">
                        <i class="fas fa-trash-alt"></i> Delete Car
                    </a>
                </div>
            {% endif %}
        
        </div>
        <div class="car-detail-photos">
            <h3>Car Photos:</h3>
            {% for photo in car.photos.all %}
                <img src="{{ photo.image.url }}" alt="{{ photo.description|default:'Car Photo' }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}
