{% extends 'common/base.html' %}
{% load static %}

{% block main_content %}
    <div class="search-bar">
        <form method="get">
            <!-- Search by car brand -->
            <select name="brand">
                <option value="">Select a brand...</option>
                {% for brand in car_brands %}
                    <option value="{{ brand }}" 
                            {% if request.GET.brand == brand %} selected {% endif %}>
                        {{ brand|capfirst }}
                    </option>
                {% endfor %}
            </select>
    
            <!-- Search by car model -->
            <select name="model">
                <option value="">Select a model...</option>
                {% for model in car_models %}
                    <option value="{{ model }}" 
                            {% if request.GET.model == model %} selected {% endif %}>
                        {{ model|capfirst }}
                    </option>
                {% endfor %}
            </select>
    
            <!-- Search by car body type -->
            <select name="body_type">
                <option value="">Select a body type...</option>
                {% for body_type, label in BODY_TYPE_CHOICES %}
                    <option value="{{ body_type }}"
                            {% if request.GET.body_type == body_type %} selected {% endif %}>
                        {{ label|capfirst }}
                    </option>
                {% endfor %}
            </select>
    
            <!-- Order by options -->
            <select name="order_by">
                <option value="">Order by...</option>
                <option value="asking_price" {% if request.GET.order_by == 'asking_price' %}selected{% endif %}>Asking Price</option>
                <option value="mileage" {% if request.GET.order_by == 'mileage' %}selected{% endif %}>Mileage</option>
                <option value="range" {% if request.GET.order_by == 'range' %}selected{% endif %}>Range</option>
                <option value="year" {% if request.GET.order_by == 'year' %}selected{% endif %}>Year</option>
            </select>
            
            <select name="order_direction">
                <option value="asc" {% if request.GET.order_direction == 'asc' %}selected{% endif %}>Ascending</option>
                <option value="desc" {% if request.GET.order_direction == 'desc' %}selected{% endif %}>Descending</option>
            </select>
    
            <button type="submit">Search</button>
        </form>
    </div>
    
    <div class="cars-box">
        {% if all_cars %}
            {% for car in all_cars %}
                <div class="car-card">
                    <div class="left">
                        <a href="{% url 'car-details' car.pk %}">
                        {% if car.has_photo %}
                                <img src="{{ car.first_photo_url }}" alt="First photo of the car">
                        {% else %}
                            <img src="{% static 'images/stock_car_photo.png' %}" alt="Stock Car Photo">
                        {% endif %}
                        </a>
                    </div>
                    <div class="right">
                        <div class="right-top">
                            <h3><i class="fas fa-car"></i> {{ car }}</h3>
                            <h4><i class="fas fa-euro-sign"></i> Price: {{ car.asking_price }} EUR</h4>
                        </div>
                        <div class="right-middle">
                            <ul>
                                <li><i class="fas fa-tachometer-alt"></i> Mileage: {{ car.mileage }} km</li>
                                <li><i class="fas fa-calendar-alt"></i> Year: {{ car.year }}</li>
                                <li><i class="fas fa-battery-full"></i> Battery Capacity: {{ car.battery_capacity }} kWh</li>
                                <li><i class="fas fa-horse"></i> Horsepower: {{ car.horsepower }} hp</li>
                                <li><i class="fas fa-road"></i> Range: {{ car.range }} km</li>
                            </ul>
                        </div>
                        <div class="right-bottom">
                          <a href="{% url 'car-details' car.pk %}">
                                <button type="button"><i class="fas fa-list"></i> See details</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            <div class="pagination">
                 <span class="step-links">
                 {% if page_obj.has_previous %}
                     <a href="?page=1">&laquo; first</a>
                     <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                 {% endif %}
                 <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                 </span>
                 {% if page_obj.has_next %}
                     <a href="?page={{ page_obj.next_page_number }}">next</a>
                     <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                 {% endif %}
                 </span>
            </div>

        {% else %}
            <div class="no-cars">
                <h2>Sorry there are no cars for sale ay the moment!</h2>
            </div>
        {% endif %}
    </div>
{% endblock %}