{% extends 'common/base.html' %}

{% block main_content %}
    <div class="photo-details">
        <!-- Display the photo -->
        <div class="photo-container">
            <img src="{{ photo.image.url }}" alt="{{ photo.description|default:'Photo' }}">
        </div>

        <!-- Display the description of the photo if it exists -->
        {% if photo.description %}
            <div class="photo-description">
                <h4>Description:</h4>
                <p>{{ photo.description }}</p>
            </div>
        {% endif %}

        <!-- Display associated object (Car or Bike) -->
        {% if associated_object %}
            <div class="associated-object">
                <h4>Associated {{ associated_object_verbose_name|capfirst }}:</h4>
                <p>{{ associated_object }}</p>
            </div>
        {% endif %}

        <!-- Action buttons for editing, deleting, or going back to details -->
{#        <div class="photo-actions">#}
{#            <a href="{% url 'car-photo-edit' car.pk photo.pk %}" class="button">Edit Photo</a>#}
{#            <a href="{% url 'car-photo-delete' car.pk photo.pk %}" class="button">Delete Photo</a>#}

            <!-- Link back to the associated object details page -->
{#            {% if associated_object %}#}
{#                {% if associated_object.__class__ == EVCar %}#}
{#                    <a href="{% url 'car-details' associated_object.pk %}" class="button">Back to Car Details</a>#}
{#                {% elif associated_object.__class__ == EVBike %}#}
{#                    <a href="{% url 'bike-details' associated_object.pk %}" class="button">Back to Bike Details</a>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        </div>#}
    </div>
{% endblock %}
