@import url(header.css);
@import url(footer.css);
@import url(reset.css);
@import url(typography.css);
@import url(register-login-page.css);
@import url(profile-details.css);
@import url(profile-edit-delete-page.css);
@import url(index.css);
@import url(car-dashboard.css);
@import url(car-details.css);

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url("../images/background.jpg");
    background-size: cover;
}
