@import url(header.css);
@import url(footer.css);
@import url(reset.css);
@import url(typography.css);
@import url(../accounts/register-login-page.css);
@import url(../accounts/profile-details.css);
@import url(../accounts/profile-edit-delete-page.css);
@import url(index.css);
@import url(../vehicles/car-bike-dashboard.css);
@import url(../vehicles/car-bike-details.css);
@import url(../vehicles/car-bike-edit-delete-create-page.css);

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/background.jpg");
    background-size: cover;
}
